# Fall 2024 Data Science Track: Week 2 - Data Cleaning Exercise

## Packages, Packages, Packages!

Import *all* the things here! You need the standard stuff: `pandas` and `numpy`.

If you got more stuff you want to use, add them here too. üôÇ

In [137]:
# Import here.
import re
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pycountry
from joblib import Parallel, delayed

## Introduction

With the packages out of the way, now you will be working with the following data sets:

* `food_coded.csv`: [Food choices](https://www.kaggle.com/datasets/borapajo/food-choices?select=food_coded.csv) from Kaggle
* `Ask A Manager Salary Survey 2021 (Responses) - Form Responses 1.tsv`: [Ask A Manager Salary Survey 2021 (Responses)](https://docs.google.com/spreadsheets/d/1IPS5dBSGtwYVbjsfbaMCYIWnOuRmJcbequohNxCyGVw/view?&gid=1625408792) as *Tab Separated Values (.tsv)* from Google Docs

Each one poses different challenges. But you‚Äôll‚Äïof course‚Äïovercome them with what you learned in class! üòâ

## Food Choices Data Set

### Load the Data

In [20]:
# Load the Food choices data set into a variable (e.g., df_food).

food_data_set_path = '../data/food_coded.csv'

df_food = pd.read_csv(food_data_set_path)

### Explore the Data

How much data did you just load?

In [21]:
# Count by hand. (lol kidding)

print(df_food.shape)

(125, 61)

What are the columns and their types in this data set?

In [22]:
# Show the column names and their types.

print(df_food.dtypes)

GPA                  object
Gender                int64
breakfast             int64
calories_chicken      int64
calories_day        float64
                     ...
type_sports          object
veggies_day           int64
vitamins              int64
waffle_calories       int64
weight               object
Length: 61, dtype: object

### Clean the Data

Perhaps we‚Äôd like to know more another day, but the team is really interested in just the relationship between calories (`calories_day`) and weight. ‚Ä¶and maybe gender.

Can you remove the other columns?

In [23]:
# Remove ‚Äòem.

# Removing all columns but 'calories_day' and 'weight' from df_food

df_food = df_food[['calories_day', 'weight']]

What about `NaN`s? How many are there?

In [24]:
# Count ‚Äòem.

# How many NaN values are in each column?

print(df_food.isna().sum())

calories_day    19
weight           2
dtype: int64

We gotta remove those `NaN`s‚Äïthe entire row.

In [25]:
# Drop ‚Äòem.

df_food = df_food.dropna()

But what about the weird non-numeric values in the column obviously meant for numeric data?

Notice the data type of that column from when you got the types of all the columns?

If only we could convert the column to a numeric type and drop the rows with invalid values. ü§î

In [17]:
# Converting non-numeric columns to numeric

df_food = df_food.apply(pd.to_numeric, errors='coerce')

Now this data seems reasonably clean for our purposes! üòÅ

Let‚Äôs save it somewhere to be shipped off to another teammate. üíæ

In [26]:
# Saving cleaned data to new CSV file

df_food.to_csv('../data/cleaned_food_coded.csv', index=False)

## Ask a Manager Salary Survey 2021 (Responses) Data Set

### Load the Data

In [27]:
# Load the Ask A Manager Salary Survey 2021 (Responses) data set into a variable (e.g., df_salary).


ask_manager_path = r'../data/Ask A Manager Salary Survey 2021 (Responses) - Form Responses 1.tsv'

df_ask_manager = pd.read_csv(ask_manager_path, sep='\t')

Was that hard? üôÉ

#### rename the file to something that is better for all systems.  
* No spaces in filename (can use '_')
* all lower case

In [31]:
# Renaming the file

# os.rename(ask_manager_path, r'../data/ask_a_manager_salary_survey_2021.tsv')

ask_manager_path = r'../data/ask_a_manager_salary_survey_2021.tsv'
df_ask_manager = pd.read_csv(ask_manager_path, sep='\t')

### Explore

You know the drill.

How much data did you just load?

In [32]:
# Count by hand. I‚Äôm dead serious.

df_ask_manager.shape

(28062, 18)

What are the columns and their types?

In [33]:
# Show the column names and their types.

df_ask_manager.dtypes

Timestamp                                                                                                                                                                                                                                object
How old are you?                                                                                                                                                                                                                         object
What industry do you work in?                                                                                                                                                                                                            object
Job title                                                                                                                                                                                                                                object
If your job title needs additional context, please clarify here:                                                                                                                                                                         object
What is your annual salary? (You'll indicate the currency in a later question. If you are part-time or hourly, please enter an annualized equivalent -- what you would earn if you worked the job 40 hours a week, 52 weeks a year.)     object
How much additional monetary compensation do you get, if any (for example, bonuses or overtime in an average year)? Please only include monetary compensation here, not the value of benefits.                                          float64
Please indicate the currency                                                                                                                                                                                                             object
If "Other," please indicate the currency here:                                                                                                                                                                                           object
If your income needs additional context, please provide it here:                                                                                                                                                                         object
What country do you work in?                                                                                                                                                                                                             object
If you're in the U.S., what state do you work in?                                                                                                                                                                                        object
What city do you work in?                                                                                                                                                                                                                object
How many years of professional work experience do you have overall?                                                                                                                                                                      object
How many years of professional work experience do you have in your field?                                                                                                                                                                object
What is your highest level of education completed?                                                                                                                                                                                       object
What is your gender?                                                                                                                                                                                                                     object
What is your race? (Choose all that apply.)                                                                                                                                                                                              object
dtype: object

Oh‚Ä¶ Ugh! Give these columns easier names to work with first. üôÑ

In [47]:
# Rename ‚Äòem.
# Non-binding suggestions: timestamp, age, industry, title, title_context, salary, additional_compensation, currency, other_currency, salary_context, country, state, city, total_yoe, field_yoe, highest_education_completed	gender, race

# Rename ‚Äòem.
column_map = {
    'Timestamp': 'timestamp',
    'How old are you?': 'age',
    'What industry do you work in?': 'industry',
    'Job title': 'title',
    'If your job title needs additional context, please clarify here:': 'title_context',
    "What is your annual salary? (You'll indicate the currency in a later question. If you are part-time or hourly, please enter an annualized equivalent -- what you would earn if you worked the job 40 hours a week, 52 weeks a year.)": 'salary',
    'How much additional monetary compensation do you get, if any (for example, bonuses or overtime in an average year)? Please only include monetary compensation here, not the value of benefits.': 'additional_compensation',
    'Please indicate the currency': 'currency',
    'If "Other," please indicate the currency here: ': 'other_currency',
    'If your income needs additional context, please provide it here:': 'salary_context',
    'What country do you work in?': 'country',
    "If you're in the U.S., what state do you work in?": 'state',
    'What city do you work in?': 'city',
    'How many years of professional work experience do you have overall?': 'total_yoe',
    'How many years of professional work experience do you have in your field?': 'field_yoe',
    'What is your highest level of education completed?': 'highest_education_completed',
    'What is your gender?': 'gender',
    'What is your race? (Choose all that apply.)': 'race'
}

df_ask_manager = df_ask_manager.rename(columns=column_map)

df_ask_manager.dtypes

timestamp                       object
age                             object
industry                        object
title                           object
title_context                   object
salary                          object
additional_compensation        float64
currency                        object
other_currency                  object
salary_context                  object
country                         object
state                           object
city                            object
total_yoe                       object
field_yoe                       object
highest_education_completed     object
gender                          object
race                            object
dtype: object

It‚Äôs a lot, and that should not have been easy. üòè

You‚Äôre going to have a gander at the computing/tech subset first because thats *your* industry. But first, what value corresponds to that `industry`?

In [107]:
# List the unique industries and a count of their instances.

df_ask_manager['industry'].value_counts()

industry
Computing or Tech                       4699
Education (Higher Education)            2464
Nonprofits                              2419
Health care                             1896
Government and Public Administration    1889
                                        ...
e-commerce                                 1
Graduate Student                           1
Obligatory Military service                1
Landscape Architecture                     1
Edtech                                     1
Name: count, Length: 1219, dtype: int64

That value among the top 5 is what you‚Äôre looking for innit? Filter out all the rows not in that industry and save it into a new dataframe.

In [126]:
# Filtery filter. (Save it to a new variable, df_salary_tech.)

df_salary_tech = df_ask_manager[df_ask_manager['industry'] == 'Computing or Tech']

Do a sanity check to make sure that the only values you kept are the one you are filtered for.

In [127]:
# Sanity Check 

df_salary_tech.shape

(4699, 18)

We are very interested in salary figures. But how many dollars üíµ is a euro üí∂ or a pound üí∑? That sounds like a problem for another day. ü´†

For now, let‚Äôs just look at U.S. dollars (`'USD'`).

In [128]:
# Filtery filter for just the jobs that pay in USD!

df_salary_tech = df_salary_tech[df_salary_tech['currency'] == 'USD']

df_salary_tech.shape

(3777, 18)

What we really want know is how each U.S. city pays in tech. What value in `country` represents the United States of America?

In [129]:
# We did filter for USD, so if we do a count of each unique country in descending count order, the relevant value(s) should show up at the top.

df_salary_tech['country'].value_counts()

country
United States               1576
USA                         1222
US                           412
U.S.                         108
United States of America      90
                            ...
Ghana                          1
Nigeria                        1
ss                             1
Nigeria                        1
Burma                          1
Name: count, Length: 76, dtype: int64

### Clean the Data

Well, we can‚Äôt get our answers with what we currently have, so you‚Äôll have to make some changes.

Let‚Äôs not worry about anything below the first 5 values for now. Convert the top 5 to a single canonical value‚Äïsay, `'US'`, which is nice and short.

In [152]:
# Replace them all with 'US'.

def fuzzy_country(name):
    try: 
        return pycountry.countries.search_fuzzy(str(name).strip())[0].name
    except: 
        return name

df_salary_tech_clean = df_salary_tech.copy()
df_salary_tech_clean['country'] = Parallel(n_jobs=16)(
    delayed(fuzzy_country)(name) for name in df_salary_tech_clean['country']
)

us_variants = [
    'United States', 
    'Virgin Islands, U.S.', 
    'U.S.A.',
    'U.S.A',
    'UnitedStates',
    'Unite States', 
    'United State of America',
]

# Convert all US variants to 'US'
df_salary_tech_clean['country'] = df_salary_tech_clean['country'].apply(
    lambda x: 'US' if x in us_variants else x
)

Have a look at the count of each unique country again now.

In [153]:
# Count again.

df_salary_tech_clean['country'].value_counts()

country
US                      3716
Canada                     5
Israel                     5
Denmark                    3
Australia                  3
Singapore                  2
Spain                      2
India                      2
Poland                     2
Nigeria                    2
France                     2
United Kingdom             2
Brazil                     2
New Zealand                2
Uniyed states              1
American Samoa             1
Puerto Rico                1
Italy                      1
Cuba                       1
Uruguay                    1
Remote (philippines)       1
United Stateds             1
Mexico                     1
International              1
United Stated              1
Philippines                1
Pakistan                   1
China                      1
Netherlands                1
Romania                    1
Japan                      1
United Stares              1
San Francisco              1
Jamaica                    1
Unites States              1
U.S.A                      1
Thailand                   1
Colombia                   1
Ghana                      1
South Sudan                1
Burma                      1
Name: count, dtype: int64

Did you notice anything interesting?

In [ ]:
# BONUS CREDIT: resolve [most of] those anomalous cases too without exhaustively taking every variant literally into account.

# Did that with fuzzy_country function above as my solution.

In [ ]:

# BONUS CREDIT: if you‚Äôve resolved it, let‚Äôs see how well you did by counting the number of instances of each unique value.

# Pretty well, see above.

It‚Äôs looking good so far. Let‚Äôs find out the minimum, mean, and maximum (in that order) salary by state, sorted by the mean in descending order.

In [167]:
# Find the minimum, mean, and maximum salary in USD by U.S. state.

# US salary data by state (min 1 entries)
df_usa_salary = df_salary_tech_clean[(df_salary_tech_clean['country'] == 'US') & 
                                    (df_salary_tech_clean['salary'] > 0)]

df_state_stats = (df_usa_salary.groupby('state')['salary']
                 .agg(['count', 'min', 'mean', 'max'])
                 .query('count >= 1')
                 .sort_values('mean', ascending=False))

print(f"US rows with valid salary data: {len(df_usa_salary)}")
valid_states = df_state_stats.index.tolist()
print(f"States with at least 1 entries: {len(valid_states)}")
print(df_state_stats)

US rows with valid salary data: 1016
States with at least 1 entries: 52
                                count       min           mean        max
state
Michigan, Texas, Washington         1  340000.0  340000.000000   340000.0
Florida                            23   28800.0  210711.000000  2600000.0
California, Oregon                  1  200000.0  200000.000000   200000.0
California, Colorado                1  176000.0  176000.000000   176000.0
Delaware                            1  169000.0  169000.000000   169000.0
Connecticut                         5   68000.0  161610.000000   270000.0
California                        176     240.0  155504.380682   520000.0
New York                          106   14000.0  147269.528302   590000.0
Wisconsin                          27       1.0  145806.888889   920000.0
District of Columbia               13   59000.0  142923.076923   200000.0
New Jersey, New York                2  135000.0  137500.000000   140000.0
Ohio                               18   42000.0  137066.666667   954000.0
Washington                         72      72.0  136923.916667   300000.0
Massachusetts                      77   41000.0  125899.155844   400000.0
Nevada                              2  107100.0  124550.000000   142000.0
New Jersey                         11   67500.0  124090.909091   192000.0
Oregon                             45   16200.0  122640.000000   230000.0
West Virginia                       1  120000.0  120000.000000   120000.0
Maryland                           13   62000.0  119955.461538   176000.0
Illinois                           35   36000.0  117555.571429   228800.0
Alabama                             5   35000.0  117400.000000   350000.0
Louisiana, Washington               1  117000.0  117000.000000   117000.0
Pennsylvania                       36   52000.0  116826.388889   237000.0
Georgia                            34   29120.0  115297.647059   242000.0
Virginia                           33   58750.0  115086.696970   378000.0
Montana                             3   65000.0  112666.666667   145000.0
Kansas                              6   41500.0  109666.666667   167000.0
Colorado                           37   49400.0  109291.891892   165000.0
District of Columbia, Virginia      1  109200.0  109200.000000   109200.0
Vermont                             2   91250.0  105625.000000   120000.0
Idaho                               4   74860.0  105465.000000   170000.0
Utah                               12   33280.0  105023.333333   176000.0
Maine                               6   50000.0  103833.333333   173000.0
Texas                              61   10700.0  103685.245902   190000.0
Kentucky                            4   62000.0  102500.000000   125000.0
Iowa                                5   63000.0  101200.000000   142000.0
Minnesota                          17   52124.0  101064.941176   210000.0
Rhode Island                        2   76000.0   99475.000000   122950.0
Michigan                           16   41600.0   98618.750000   235000.0
North Carolina                     30   29000.0   97841.666667   165000.0
Arizona                            12   35000.0   97833.333333   145000.0
New Mexico                          3   82000.0   95733.333333   115200.0
Tennessee                           6   61500.0   91750.000000   144000.0
New Hampshire                       6      55.0   87175.833333   130000.0
Oklahoma                            7   36958.0   84802.571429   180000.0
Indiana                             8   15000.0   82875.000000   140000.0
California, Maryland                1   81500.0   81500.000000    81500.0
Louisiana                           3   75000.0   80500.000000    84000.0
Missouri                           13      80.0   80339.923077   200000.0
Arkansas                            3   60000.0   77333.333333    95000.0
Nebraska                            5   43000.0   76736.000000   140000.0
South Carolina                      1   40000.0   40000.000000    40000.0

Well, pooh! We forgot that `salary` isn‚Äôt numeric. Something wrong must be fixed.

In [ ]:
# Fix it.

Let‚Äôs try that again.

In [ ]:
# Try it again. Yeah!

That did the trick! Now let‚Äôs narrow this to data 2021 and 2022 just because (lel). *(Hint: that timestamp column may not be a temporal type right now.)*

In [172]:
# Find the minimum, mean, and maximum salary in USD by U.S. state for 2021 and 2022
df_salary_tech_clean['timestamp'] = pd.to_datetime(df_salary_tech_clean['timestamp'])

# Create a copy to avoid the warning
df_usa_salary = df_salary_tech_clean[
  (df_salary_tech_clean['country'] == 'US') & 
  (df_salary_tech_clean['salary'] > 0) &
  (df_salary_tech_clean['timestamp'].dt.year.isin([2021, 2022]))
].copy()

# Now safe to add the year column
df_usa_salary['year'] = df_usa_salary['timestamp'].dt.year

df_state_stats_by_year = (df_usa_salary.groupby(['year', 'state'])['salary']
                       .agg(['count', 'min', 'mean', 'max'])
                       .query('count >= 1')
                       .sort_values(['year', 'mean'], ascending=[True, False]))

print(f"US rows with valid salary data (2021-2022): {len(df_usa_salary)}")
print(f"Year distribution: {df_usa_salary['year'].value_counts().sort_index().to_dict()}")

print("\n2021 Results:")
df_2021 = df_state_stats_by_year.xs(2021, level='year')
print(f"States in 2021: {len(df_2021)}")
print(df_2021.head(10))

print("\n2022 Results:")
df_2022 = df_state_stats_by_year.xs(2022, level='year')
print(f"States in 2022: {len(df_2022)}")
print(df_2022.head(10))

US rows with valid salary data (2021-2022): 995
Year distribution: {2021: 956, 2022: 39}

2021 Results:
States in 2021: 50
                      count       min           mean       max
state
California, Oregon        1  200000.0  200000.000000  200000.0
California, Colorado      1  176000.0  176000.000000  176000.0
Delaware                  1  169000.0  169000.000000  169000.0
Connecticut               5   68000.0  161610.000000  270000.0
California              168     240.0  156073.517857  520000.0
Wisconsin                24       1.0  152792.750000  920000.0
New York                100   45000.0  144839.700000  285000.0
District of Columbia     13   59000.0  142923.076923  200000.0
Ohio                     17   42000.0  141894.117647  954000.0
Washington               67      72.0  138916.000000  300000.0

2022 Results:
States in 2022: 17
                             count       min           mean       max
state
Michigan, Texas, Washington      1  340000.0  340000.000000  340000.0
New York                         5   14000.0  212320.000000  590000.0
Kansas                           1  167000.0  167000.000000  167000.0
California                       7  111000.0  154060.000000  210000.0
Utah                             1  139000.0  139000.000000  139000.0
Oregon                           1  120000.0  120000.000000  120000.0
Illinois                         3   87000.0  116333.333333  132000.0
Georgia                          3   91000.0  113333.333333  125000.0
Massachusetts                    2   72000.0  112500.000000  153000.0
Washington                       4   70000.0  112500.000000  168000.0

## Bonus

Clearly, we do not have enough data to produce useful figures for the level of specificity you‚Äôve now reached. What do you notice about Delaware and West Virginia?

Let‚Äôs back out a bit and return to `df_salary` (which was the loaded data with renamed columns but *sans* filtering).

### Bonus #0

Apply the same steps as before to `df_salary`, but do not filter for any specific industry. Do perform the other data cleaning stuff, and get to a point where you can generate the minimum, mean, and maximum by state.

### Bonus #1

This time, format the table output nicely (*$12,345.00*) without modifying the values in the `DataFrame`. That is, `df_salary` should be identical before versus after running your code.

(*Hint: if you run into an error about `jinja2` perhaps you need to `pip install` something.*)

### Bonus #2

Filter out the non-single-states (e.g., `'California, Colorado'`) in the most elegant way possible (i.e., *not* by blacklisting all the bad values).

### Bonus #3

Show the quantiles instead of just minimum, mean, and maximum‚Äïsay 0%, 5%, 25%, 50%, 75%, 95%, and 100%. Outliers may be deceiving.

Sort by whatever interests you‚Äïlike say the *50th* percentile.

And throw in a count by state too. It would be interesting to know how many data points contribute to the figures for each state. (*Hint: your nice formatting from Bonus #1 might not work this time around.* üòú)